.ballot-text-style-sm {
    text-Align: left;
    font-size: 14px;
    font-family: Roboto;
}

.ballot-text-style-md {
    text-Align: left;
    font-size: 24px;
    font-family: Roboto;
}

.ballot-text-style-lg {
    text-Align: left;
    font-size: 30px;
    font-family: Roboto;
}

.ballot-text-style-xl {
    text-Align: left;
    font-size: 100px;
    font-family: Roboto;
}

.input-height-lg {
    height: 56px;
}

.input-height-sm {
    height: 35px;
}

.ballot-elem {
    min-height: 30vh;
    border-bottom: 5px solid black;
}

.light-padding {
    padding-top: 10px;
}

.option-close {
    color: grey;
    padding-top: 3px;
    padding-left: 0px;
}

.option-close:hover {
    color: black;

}

.inline-block {
    display: inline-block;
    border: 2px solid black;
}

.question-text-box {
    width: 100%;
}

.center-text {
    text-align: center;
}



.all-height {
    min-height: 100vh;
}